img.logo { width: 100%; height: auto; max-height: 49px;}

body nav input.search-bar { width :400px; margin-left: 10px; }

.navbar {position: fixed; width: 100%;}
.navbar>.container-fluid { flex-wrap: nowrap; min-width: 1000px;}
body nav div.navbar-icon span{ margin-left: 15px; flex-wrap: nowrap;}

body .main { display: flex; flex-direction: row; text-align: center; justify-content: center; background-color: #fafafa}
body div.left-section {min-width: 600px; height: 1000px; text-align: center; justify-content: center; margin : 57.78px 25px 0 0;}
body div.user-info { display: flex; flex-direction: row; align-items: center;}
body div.img-box img{
    height: 585px;
    /* width: 468px; */
    width: 100%;
    object-fit: contain 

}
body div.feed-style {width: 600px;border: solid 1px grey; background-color: white;}
body div.feed-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5px 0 5px;
}
body div.feed-icon {
    margin: 0px 5px 5px 5px;
}
body div.feed-icon span{
    margin: 0px 6px 0px 0px;
}

body div.feed-like {
    text-align: left;
    margin: 0 0 0 5px;
    font-size: 14px;
    display: flex;
}

.box {
    width: 45px;
    height: 45px; 
    border-radius: 70%;
    overflow: hidden;
    margin: 5px 10px 0px 5px;
}
.box-mini {
    width: 22.5px;
    height: 22.5px; 
    border-radius: 70%;
    overflow: hidden;
    margin: 0px 5px 5px 5px;
}

.profile {
    width: 100%;
    height: 100%;
}

.profile-mini {
    width: 100%;
    height: 100%;
}

article {
    text-align: left;
    margin: 0px 5px 0px 15px;
    font-size: 14px;
}
body div.comment {
    text-align: left;
    margin: 0px 5px 0px 15px;
    font-size: 14px;
}

body div.right-section {width: 400px; height: 1000px; background-color: orange; text-align: center; justify-content: center; margin-top: 57.58px;
position: fixed; left:70.8%; } 